/* Base (to keep Coda Slider working) */
body {
	padding: 0 20px 20px 20px;
}

/* Background Colors */

body {
	background-color: #F6D565;
}

#main_container {
	background-color: #ffffff;
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px#888;
	box-shadow: 0 0 5px #888;
}

/* Background Color Classes */

.blue { 
	background-color: #8DBDD8; 
}
.green { 
	background-color: #4be22d; 
}
.pink { 
	background-color: #ff009d; 
}
.yellow {
	background-color: #F6D565 !important;
}
.gray {
	background-color: gray;
}

/* Background Gradient Classes */

.gradwhite {
	background-image: url('../images/grad_white.png')
}

.gradblack {
	background-image: url('../images/grad_black_30.png')
}

/* Rounded Corner Styles */

/* Margin and Padding Classes */

.padding10 {
	padding: 10px;
}

.padding10top {
	padding-top: 10px;
}

.padding10bottom {
	padding-bottom: 10px;
}

.padding10left {
	padding-left: 10px;
}

.padding10right {
	padding-right: 10px;
}

.margin10 {
	margin: 10px;
}

.margin10top {
	margin-top: 10px;
}

.margin10bottom {
	margin-bottom: 10px;
}

.margin10left {
	margin-left: 10px;
}

.margin10right {
	margin-right: 10px;
}

.padding20 {
	padding: 20px;
}

.padding20top {
	padding-top: 20px;
}

.padding20bottom {
	padding-bottom: 20px;
}

.padding20left {
	padding-left: 20px;
}

.padding20right {
	padding-right: 20px;
}

.margin20 {
	margin: 20px;
}

.margin20top {
	margin-top: 20px;
}

.margin20bottom {
	margin-bottom: 20px;
}

.margin20left {
	margin-left: 20px;
}

.margin20right {
	margin-right: 20px;
}

.padding40 {
	padding: 40px;
}

.padding40top {
	padding-top: 40px;
}

.padding40bottom {
	padding-bottom: 40px;
}

.padding40left {
	padding-left: 40px;
}

.padding40right {
	padding-right: 40px;
}

.margin40 {
	margin: 40px;
}

.margin40top {
	margin-top: 40px;
}

.margin40bottom {
	margin-bottom: 40px;
}

.margin40left {
	margin-left: 40px;
}

.margin40right {
	margin-right: 40px;
}

/* End Margin and Padding Classes */

/* List Item Classes */

.horizontal_list li {
	display: inline;
}

.list_none li {
	list-style-type: none !important;
}

.list_disc {
	list-style-type: disc;
}

.list_upper_roman {
	list-style-type: upper-roman;
}

.list_lower_roman {
	list-style-type: lower-roman;
}

/* End List Item Classes */

/* Floats and Aligns */

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.textright {
	text-align: right;
}

.textleft {
	text-align: left;
}

.textcenter {
	text-align: center;
}

.textbottom {
	vertical-align: middle;
}

/* End Floats and Aligns */

/* Text Style Classes */

.textjustify {
	text-align: justify;
}

.textblock {
	line-height: 1.3em;
	
}

h1 {
	font-size: 1.6em;
	font-weight: bold;
}

h2 {
	font-size: 1.4em;
	background: none;
	font-weight: bold;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

.serif {
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.sansserif {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heavy {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

.monospace {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.lesssmalltext {
	font-size: .8em;
}

.smalltext {
	font-size: .6em;
}

.bigtext {
	font-size: 1.4em;
}

.strong {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

.smallcap {
	font-variant: small-caps;
}

.uppercase {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

.delete {
	text-decoration: line-through;
}

/* End Text Style Classes */

/* Header Content */

#header_left {
	height: 122px;
}

#info_links {
	background-color: #F2F2F2;
	padding: 5px 0;
	margin-right: 20px;
	margin-bottom: 25px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}

#info_links li a {
	padding: 10px 10px 2px;
	font-weight: bold;
	color: #2B477D;
	color: rgba(43, 71, 125, 0.7);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	text-decoration: none;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
}

#info_links li img {
	padding-right: 5px;
}

#info_links li a:hover,
#info_links li a:focus,
#info_links .selected a {
	color: #2B477D;
	background-color: #cdcdcd;
	background: rgba(205,205,205, 1);
}

/* File Type Icon Styling */

/* PDF document links */
a[href$='.pdf'] {
	background:transparent url(../images/icons/pdf.png) center right no-repeat;
	display:inline-block;
	padding-right:25px;
	line-height:20px;
}
 
/* Excel Documents links */
a[href$='.xls'], a[href$='.xlsx'], a[href$='.csv'], a[href$='.xlw'], a[href$='.xlt'] {
	background:transparent url(../images/icons/excel.png) center right no-repeat;
	display:inline-block;
	padding-right:25px;
	line-height:20px;
}
 
/* Word Document Links */
a[href$='.doc'], a[href$='.docx'], a[href$='.rtf'], a[href$='.wps'], a[href$='.txt'] {
	background:transparent url(../images/icons/word.png) center right no-repeat;
	display:inline-block;
	padding-right:25px;
	line-height:20px;
}

/* Powerpoint Document Links */
	a[href$='.ppt'], a[href$='.pptx'] {
	background:transparent url(../images/icons/powerpoint.png) center right no-repeat;
	display:inline-block;
	padding-right:25px;
	line-height:20px;
}

/* Publisher Document Links */
a[href$='.pub'] {
	background:transparent url(../images/icons/publisher.png) center right no-repeat;
	display:inline-block;
	padding-right:25px;
	line-height:20px;
}
 
/* mailto: links */
a[href^="mailto:"] {
	background:transparent url(../images/icons/email.png) center right no-repeat;
	display:inline-block;
	padding-right:25px;
	line-height:20px;
}

a[href$='.pdf'].newsbg {
	background:transparent url(../images/icons/news.png) center right no-repeat;
	display:inline-block;
	padding-right:15px;
	height:120px;
	width: 128px;
	font-weight: bold;
	font-size: 1.4em;
	text-decoration: none;
	color: #3A5E8C;
}

/* End File Type Icon Styling */

/* Footer Styles */

footer {
	padding: 10px;
}

#contact_info_footer {
	margin-right: -65px;
	margin-top: -5px;
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* Override of mailto: link styling done at the link level above */
footer a {
	background: inherit !important;
	padding-right: inherit !important;
	line-height: inherit !important;
}
/* End override */

/* Primary Nav Links powered by Glow Tabs from http://events.jquery.org/2010/sf-bay-area/ */

#nav_links {
	padding-top: 10px;
}

ul#nav_links {
	height: 25px;
	margin: 0 auto;
	position: relative;
	overflow: hidden;
	padding-left: 30px;
}

ul#nav_links li {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	margin: 0 5px 0 0;
	position: relative;
	z-index: 1;
}

ul#nav_links li.selected {
	z-index: 3;
}

ul#nav_links li.shadow {
	width: 100%;
	height: 2px;
	position: absolute;
	bottom: -3px;
	left: 0;
	border: none;
	background: none;
	z-index: 2;
	-webkit-box-shadow: #111 0 -2px 6px;
	-moz-box-shadow: #111 0 -2px 6px;
	box-shadow: #111 0 -2px 6px;
}

ul#nav_links li.selected a:link, ul#nav_links li.selected a:visited {
	color: #fff;
}

ul#nav_links li a:link, ul#nav_links li a:visited {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	display: block;
	text-align: center;
	width: 100%;
	height: 40px;
	line-height: 25px;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1px;
	outline: none;
	float: left;
	-webkit-transition: background-color 0.3s linear;
	-moz-transition: background-color 0.3s linear;
	-o-transition: background-color 0.3s linear;
	font-weight: bold;
	color: #fff;
}

/* Primary Nav Links Tab Colors */

/* Red Tab */

ul#nav_links li.redtab,
ul#nav_links li.redtab a:link,
ul#nav_links li.redtab a:visited {
	background-color: #B02209;
	background: #B02209;
	border: solid 1px #B02209;
}

ul#nav_links li.redtab a:hover {
	background-color: #f33b1b;
	border: solid 1px #f33b1b;
}

ul#nav_links li.selected.redtab a:link, ul#nav_links li.selected.redtab a:visited {
	border: solid 1px #d2d2d2;
	-webkit-transition: background-color 0.2s linear;
	color: #B02209;
	background: #f1f1f1;
	background-color: #f1f1f1;
}

/* Orange Tab */

ul#nav_links li.orangetab,
ul#nav_links li.orangetab a:link, 
ul#nav_links li.orangetab a:visited {
	background-color: #C43E15;
	background: #C43E15;
	border: solid 1px #C43E15;
}

ul#nav_links li.orangetab a:hover {
	background-color: #eb6a43;
	border: solid 1px #eb6a43;	
}

ul#nav_links li.selected.orangetab a:link, ul#nav_links li.selected.orangetab a:visited {
	border: solid 1px #fff;
	-webkit-transition: background-color 0.2s linear;
	color: #C43E15;
	background: #f1f1f1;
	background-color: #f1f1f1;
}

/* Blue Tab */

ul#nav_links li.bluetab,
ul#nav_links li.bluetab a:link, 
ul#nav_links li.bluetab a:visited {
	background-color: #3A5E8C;
	background: #3A5E8C;
	border: solid 1px #3A5E8C;
}

ul#nav_links li.bluetab a:hover {
	background-color: #5e88bc;
	border: solid 1px #5e88bc;
}

ul#nav_links li.selected.bluetab a:link, ul#nav_links li.selected.bluetab a:visited {
	border: solid 1px #fff;
	-webkit-transition: background-color 0.2s linear;
	color: #3A5E8C;
	background: #f1f1f1;
	background-color: #f1f1f1;
}

/* Teal Tab */

ul#nav_links li.tealtab,
ul#nav_links li.tealtab a:link, 
ul#nav_links li.tealtab a:visited {
	background-color: #347E94;
	background: #347E94;
	border: solid 1px #347E94;
}

ul#nav_links li.tealtab a:hover {
	background-color: #58acc4;
	border: solid 1px #58acc4;
}

ul#nav_links li.selected.tealtab a:link, ul#nav_links li.selected.tealtab a:visited {
	border: solid 1px #fff;
	-webkit-transition: background-color 0.2s linear;
	color: #347E94;
	background: #f1f1f1;
	background-color: #f1f1f1;
}

/* Green Tab */

ul#nav_links li.greentab,
ul#nav_links li.greentab a:link, 
ul#nav_links li.greentab a:visited {
	background-color: #2BC449;
	background: #2BC449;
	border: solid 1px #2BC449;
}

ul#nav_links li.greentab a:hover {
	background-color: #66de7e;
	border: solid 1px #66de7e;	
}

ul#nav_links li.selected.greentab a:link, ul#nav_links li.selected.greentab a:visited {
	border: solid 1px #fff;
	-webkit-transition: background-color 0.2s linear;
	color: #2BC449;
	background: #f1f1f1;
	background-color: #f1f1f1;
}

/* Purple Tab */

ul#nav_links li.purpletab,
ul#nav_links li.purpletab a:link, 
ul#nav_links li.purpletab a:visited {
	background-color: #8134A8;
	background: #8134A8;
	border: solid 1px #8134A8;
}

ul#nav_links li.purpletab a:hover {
	background-color: #aa62cf;
	border: solid 1px #aa62cf;
}

ul#nav_links li.selected.purpletab a:link, ul#nav_links li.selected.purpletab a:visited {
	border: solid 1px #fff;
	-webkit-transition: background-color 0.2s linear;
	color: #8134A8;
	background: #f1f1f1;
	background-color: #f1f1f1;
}

/* Sub Navigation Links Fancy */

#subnav_links {
	min-height: 1em;
	padding: 5px 10px;
	background: #f2f2f2;
	background: -moz-linear-gradient(top center, #f2f2f2, #d1d1d1 80%) repeat scroll 0 0 #d1d1d1;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #d1d1d1),color-stop(.8, #f2f2f2));
	-webkit-border-bottom-right-radius: 6px;
	-moz-border-radius-bottomright: 6px;
	border-bottom-right-radius: 6px;
	-webkit-border-bottom-left-radius: 6px;
	-moz-border-radius-bottomleft: 6px;
	border-bottom-left-radius: 6px;
}

.subnav_links {
	height: 100%;
}

.subnav_links li {
	border-right: 1px dotted;
}

.subnav_links li:last-child {
	border-right: none;
}

.subnav_links li a {
	padding: 0px 5px;
	margin-right: 4px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	color: #555;
}

.subnav_links li a:hover,
.subnav_links li a:focus {
	color: #2B477D;
	background-color: #ffffff;
	/*background-color: #9ab4d5;*/
}

/* Main Page Content */

.coda-slider {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

.panel-wrapper p a.xtrig {
	padding: 0 0 10px 10px;
	vertical-align: 10px;
}

#frontcontent p {
	padding-right: 20px;
	padding-bottom: 10px;
}

#frontcontent h3 {
	padding: 10px 5px 0 0;
	font-size: 1.1em;
	font-weight: bold;
}

#maincontent p {
	padding-bottom: 10px;
}

#maincontent h3 {
	padding-bottom: 10px;
	font-weight: bold;
}

#maincontent ul li {
	list-style-type: disc;
	padding-bottom: 5px;
	margin-left: 30px;
}

#maincontent ol li {
	list-style-type: decimal;
	padding-bottom: 5px;
	margin-left: 30px;
}

#coda-slider-1 {
	height: 100%;
	min-height: 500px;
}

/* Front Page Calendar Styling */

ul#events {
	padding: 0 10px 10px;
}

#newsandevents p.eventdate {
	font-weight: bold;
	padding: 5px 0;
}

#newsandevents p.eventinfo {
	font-style: italic;
	padding-left: 5px;
}

#fullcalendarlink {
	padding: 0 10px;
}

/* Calendar Page Styling */

#maincontent li > ul {
	padding-top: 10px;
}

#maincontent li > ul >li {
	list-style-type: circle;
}

table.calendartable {
	margin-bottom: 20px;
}

table.calendartable th {
	font-weight: bold;
}

table.calendartable td,
table.calendartable th {
	padding: 5px;
	text-align: left;
}

table.calendartable th:last-child,
table.calendartable td:last-child {
	padding-left: 60px;
}

table.calendartable th:first-child {
	text-align: center;
}

table.calendartable td:first-child {
	text-align: right;
}

table.calendartable tr:nth-child(odd) {
	background: #c5c5c5;
}

/*
table.calendartable tr:nth-child(even) {
	background: #b7e4e8;
}*/

table.calendartable tr:hover {
	background: #9ab4d5;
}

table.calendartable tr:first-of-type:hover {
	background: #c5c5c5;
}

/* Tools & Resources Page Styling */

.ui-accordion,
.ui-accordion-header a {
	font-size: .8em;
	font-weight: bold;
}

.ui-accordion {
	font-weight: normal;
}

.ui-accordion-header a {
	background: #C5C5C5;
}

.accordion {
	padding-top: 10px;
}

table.programsummarytable tr {
	padding-bottom: 5px;
}

table.programsummarytable th, td {
	text-align: left;
}

table.programsummarytable th.summarycol1 {
	width: 165px;
}

table.programsummarytable th.summarycol2 {
	width: 80px;
}

table.programsummarytable th.summarycol3 {
	width: 175px;
}

table.programsummarytable thead tr {
	background-color: #ababab;
}

table.programsummarytable tbody tr:nth-child(odd) {
	background-color: #ffffff;
}

table.programsummarytable tbody tr:nth-child(even) {
	background-color: #cdcdcd;
}

.navtable {
	padding: 20px 0px;
}

.navtable a {
	min-height: 1em;
	padding: 5px 10px;
	background: #d1d1d1;
	background: -moz-linear-gradient(top center, #f2f2f2, #d1d1d1 80%) repeat scroll 0 0 #d1d1d1;
	background: -webkit-gradient(linear,left bottom,left top,color-stop(.2, #d1d1d1),color-stop(.8, #f2f2f2));
	margin-right: 4px;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

h3.navtablesection {
	margin: 20px 0;
}

h3.navtablesection a {
	min-height: 1em;
	padding: 5px 10px;
	background: #8bca8f;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.7);
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
	text-decoration: none;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	max-width: 275px;
}

/* Contact Page Styling */

#contactpage {
	padding: 10px;
}

#contactboxes ul {
	margin: 5px 0 0 9px;
}

#generalcontact h3 {
	padding-top: 0px;
}

#generalcontact ul.contactinfofirst {
	margin-left: 10px;
}

#generalcontact ul.contactinfolast {
	margin-left: 0px;
}

ul.contactinfo {
	padding: 5px 0;
}

.contactinfo li {
	
}

.contactname {
	font-weight: bold;
}

.contacttype {
	font-weight: bold;
	padding-right: 5px;
}

.contactnumber {
	background:transparent url(../images/icons/phone.png) center right no-repeat;
	display:inline-block;
	padding-right:20px;
	line-height:15px;
}

.contactfax {
	background:transparent url(../images/icons/fax.png) center right no-repeat;
	display:inline-block;
	padding-right:20px;
	line-height:15px;
}

#contactpage a {
	font-size: .8em;
	padding-bottom: 3px;
}

/* Newsletter Page Styling */

#newsletterpage {
	padding: 10px;
}

#newsletterpage ul {
	padding: 10px;
}

#newsletterpage li {
	padding: 5px;
}

/* Discussion Page Styling */

#discussionpage {
	padding: 10px;
}

/* Files Download Page Styling */

#filespage {
	padding: 10px;
}

/* Notecard Styling */
/* background: #35beb7; post-it samba turquoise */
/* background: #EFE768; post-it standard yellow */
/* background: faa457; post-it samba orange */
/* background: #d189b9;  post-it samba purple */
/* background: #f35f6d; post-it samba red */
/* background: #cddd73; post-it samba green */

.notecard h3 {
	font-family: 'Neucha', serif;
	font-size: 1.4em;
	padding-top: 5px;
	font-weight: bold;	
}

ul.binder {
	overflow: hidden;
}

ul.binder > li {
	color: #000066;
	margin: 0 30px 15px 0;
	list-style-type: none;
	padding: 0 0 0 5px;
	width: 205px;
	height: 205px;
	border: 1px solid #31b1aa;
	position: relative;
	float: left;
	background: none repeat scroll 0 0 #35BEB7;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 60px rgba(0, 0, 0, 0.1) inset;
	-moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

ul.binder > li:after {
	z-index: -1;
	position: absolute;
	background: transparent;
	width: 70%;
	height: 55%;
	content: '';
	right: 10px;
	bottom: 10px;
	transform: skew(15deg) rotate(6deg);
	-webkit-transform: skew(15deg) rotate(6deg);
	-moz-transform: skew(15deg) rotate(6deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

ul.binder > li:before { 
	z-index: -2;
	position: absolute;
	background: transparent;
	width: 70%;
	height: 55%;
	content: '';
	left: 10px;
	bottom: 10px;
	transform: skew(-15deg) rotate(-6deg);
	-webkit-transform: skew(-15deg) rotate(-6deg);
	-moz-transform: skew(-15deg) rotate(-6deg);
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}