/* Margin and Padding Classes */

.padding10 {
	padding: 10px;
}

.padding10top {
	padding-top: 10px;
}

.padding10bottom {
	padding-bottom: 10px;
}

.padding10left {
	padding-left: 10px;
}

.padding10right {
	padding-right: 10px;
}

.margin10 {
	margin: 10px;
}

.margin10top {
	margin-top: 10px;
}

.margin10bottom {
	margin-bottom: 10px;
}

.margin10left {
	margin-left: 10px;
}

.margin10right {
	margin-right: 10px;
}

.padding20 {
	padding: 20px;
}

.padding20top {
	padding-top: 20px;
}

.padding20bottom {
	padding-bottom: 20px;
}

.padding20left {
	padding-left: 20px;
}

.padding20right {
	padding-right: 20px;
}

.margin20 {
	margin: 20px;
}

.margin20top {
	margin-top: 20px;
}

.margin20bottom {
	margin-bottom: 20px;
}

.margin20left {
	margin-left: 20px;
}

.margin20right {
	margin-right: 20px;
}

.padding40 {
	padding: 40px;
}

.padding40top {
	padding-top: 40px;
}

.padding40bottom {
	padding-bottom: 40px;
}

.padding40left {
	padding-left: 40px;
}

.padding40right {
	padding-right: 40px;
}

.margin40 {
	margin: 40px;
}

.margin40top {
	margin-top: 40px;
}

.margin40bottom {
	margin-bottom: 40px;
}

.margin40left {
	margin-left: 40px;
}

.margin40right {
	margin-right: 40px;
}

/* End Margin and Padding Classes */

/* List Item Classes */

.horizontal_list li {
	display: inline;
}

.list_disc {
	list-style-type: disc;
}

.list_upper_roman {
	list-style-type: upper-roman;
}

.list_lower_roman {
	list-style-type: lower-roman;
}

/* End List Item Classes */

/* Floats and Aligns */

.floatright {
	float: right;
}

.floatleft {
	float: left;
}

.textright {
	text-align: right;
}

.textleft {
	text-align: left;
}

.textcenter {
	text-align: center;
}

.textbottom {
	vertical-align: middle;
}

/* End Floats and Aligns */

/* Text Style Classes */

.textjustify {
	text-align: justify;
}

.textblock {
	line-height: 1.3em;
	
}

h1 {
	font-size: 1.6em;
	font-weight: bold;
}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}

.serif {
	font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif," "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}

.sansserif {
	font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.heavy {
	font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
}

.monospace {
	font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
}

.smalltext {
	font-size: .6em;
}

.bigtext {
	font-size: 1.4em;
}

.strong {
	font-weight: strong;
}

.italic {
	font-style: italic;
}

.smallcap {
	font-variant: small-caps;
}

.uppercase {
	text-transform: uppercase;
}

.delete {
	text-decoration: line-through;
}

/* End Text Style Classes */

/* Navigation Tabs */

#nav_links ul {
}

#nav_links li {
	background: transparent url('../images/tab.png') no-repeat;
	height: 20px;
}

#nav_links li a {
	text-decoration: none;
	vertical-align: middle;
}

#subnav_links li {
	background: #cc5500;
	padding: 0 10px;
}

/* Main Page Content */

#frontcontent p {
	padding-right: 20px;
	padding-bottom: 10px;
}

/* Footer Styles */

#contact_info_footer {
	margin-right: -65px;
}