RewriteEngine On
RewriteBase /

# Directory Indexing
Options Indexes FollowSymLinks
IndexOptions FancyIndexing
IndexOptions FoldersFirst
IndexOptions NameWidth=*

# Allow PHP in HTML files
AddType application/x-httpd-php .html .htm
AddHandler application/x-httpd-php .html .htm 

# Remove WWW
RewriteCond %{HTTP_HOST} !^txeducator.local$ [NC]
RewriteRule ^(.*)$ http://txeducator.local/$1 [L,R=301]

# Force File Downloads
AddType application/octet-stream .csv
AddType application/octet-stream .xls
AddType application/octet-stream .doc
AddType application/octet-stream .avi
AddType application/octet-stream .mpg
AddType application/octet-stream .mov
AddType application/octet-stream .pdf