# Allow PHP in HTML files
AddType application/x-httpd-php .html .htm
AddHandler application/x-httpd-php .html .htm

ErrorDocument 404 /404.html

RewriteEngine ON

RewriteCond %{HTTP_HOST} ^www.txeducatorawards.org$ [NC]
RewriteRule ^(.*)$ http://txeducatorawards.org/$1 [R=301,L]

RewriteCond %{THE_REQUEST} ^.*/index\.html
RewriteRule ^(.*)index.html$ http://txeducatorawards.org/$1 [R=301,L]

Redirect 301 /abouttech.html http://txeducatorawards.org/overview.html#1
Redirect 301 /aboutdate.html http://txeducatorawards.org/overview.html#2
Redirect 301 /abouttap.html http://txeducatorawards.org/overview.html#3
Redirect 301 /workshops.html http://txeducatorawards.org/calendar.html#2
Redirect 301 /cycleone.html http://txeducatorawards.org/calendar.html#3
Redirect 301 /cycletwo.html http://txeducatorawards.org/calendar.html#4
Redirect 301 /materials.html http://txeducatorawards.org/tools.html#2
Redirect 301 /implementation.html http://txeducatorawards.org/tools.html#3
Redirect 301 /design.html http://txeducatorawards.org/tools.html#4
Redirect 301 /payout.html http://txeducatorawards.org/tools.html#5
Redirect 301 /data.html http://txeducatorawards.org/tools.html#6
Redirect 301 /stakeholder.html http://txeducatorawards.org/tools.html#7
Redirect 301 /sustain.html http://txeducatorawards.org/resources.html#2
Redirect 301 /model.html http://txeducatorawards.org/resources.html#3
Redirect 301 /evaluation.html http://txeducatorawards.org/resources.html#4
Redirect 301 /performance.html http://txeducatorawards.org/resources.html#5
Redirect 301 /research.html http://txeducatorawards.org/resources.html#6
Redirect 301 /faqdesign.html http://txeducatorawards.org/faq.html#2
Redirect 301 /faqstaff.html http://txeducatorawards.org/faq.html#3
Redirect 301 /faqpayout.html http://txeducatorawards.org/faq.html#4
Redirect 301 /faqamendments.html http://txeducatorawards.org/faq.html#4

# Force File Downloads
AddType application/octet-stream .csv
AddType application/octet-stream .xls
AddType application/octet-stream .doc
AddType application/octet-stream .avi
AddType application/octet-stream .mpg
AddType application/octet-stream .mov
AddType application/octet-stream .pdf
